
  <connectionStrings>
    <!-- Default connection for OS2 database  -->
    <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost; port=3306; Initial Catalog=os2indberetning; uid=root; pwd=1234; CharSet=utf8; Allow User Variables=True" />
    <!-- DBUpdaterConnection for connection to data views with Persons and OrgUnits -->
    <add name="DBUpdaterConnection" connectionString="data source=MIR-204\SQLEXPRESS; initial catalog=os2viewtest; persist security info=True; user id=sa; password=1234"/>
    <!-- DMZConnection for connection to app database in the DMZ -->
    <add name="DMZConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost; port=3306; Initial Catalog=os2webapi; uid=root;  pwd=1234; CharSet=utf8; Allow User Variables=True" />
  </connectionStrings>
