
  <appSettings>
    <add key="PROTECTED_SMTP_PASSWORD" value=""/>
    <add key="PROTECTED_SMTP_HOST" value="10.7.99.80"/>
    <add key="PROTECTED_SMTP_USER" value=""/>
    <add key="PROTECTED_SMTP_HOST_PORT" value="25"/>
    <add key="PROTECTED_MAIL_FROM_ADDRESS" value="test@test.test"/>
    <add key="PROTECTED_MAIL_SUBJECT" value="testmailsubject"/>
    <add key="PROTECTED_MAIL_BODY" value="testmailbody"/>

    <add key="PROTECTED_KMDFilePath" value=""/>
    <add key="PROTECTED_KMDBackupFilePath" value=""/>
    <add key="PROTECTED_KMDFileName" value=""/>
    <add key="PROTECTED_KMDHeader" value=""/>
    <add key="PROTECTED_KMDStaticNr" value=""/>
    <add key="PROTECTED_CommuneNr" value=""/>
    <add key="PROTECTED_KMDReservedNr" value=""/>
    <add key="PROTECTED_AdministrativeCostCenterPrefix" value=""/>
    <add key="PROTECTED_AdministrativeAccount" value=""/>

    <add key="MapStartStreetName" value="Tingvej"/>
    <add key="MapStartStreetNumber" value="17"/>
    <add key="MapStartZipCode" value="8543"/>
    <add key="MapStartTown" value="Hornslet"/>

    <add key="PROTECTED_AD_DOMAIN" value="MIRACLE"/>
    <add key="PROTECTED_DailyErrorLogMail" value=""/>

    <add key="InformationHelpLink" value=""/>
    <add key="TableSortHelp" value=""/>
    <add key="FourKmRuleHelpText" value=""/>
    <add key="MobileTokenHelpText" value=""/>
    <add key="AlternativeWorkAddressHelpText" value=""/>
    <add key="AlternativeHomeAddressHelpText" value=""/>
    <add key="AlternativeWorkDistanceHelpText" value=""/>
    <add key="PrimaryLicensePlateHelpText" value=""/>
    <add key="PersonalApproverHelpText" value=""/>
    <add key="EmailHelpText" value=""/>
    <add key="PurposeHelpText" value=""/>
    <add key="ReadReportCommentHelp" value=""/>
    <add key="NoLicensePlateHelpText" value=""/>
    <add key="AccountHelpText" value=""/>
    <add key="SEPTIMA_API_KEY" value="syddjurs-IWURO2W127"/>
  </appSettings>
